#header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding: 8px 12px;
  background: var(--header-background);
  z-index: 1100;
}

.header_content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background);
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.header_logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header_logo p {
  background-image: linear-gradient(135deg, hsl(340 75% 55%), hsl(320 70% 65%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 28px;
}

@media (max-width: 368px) {
  .header_logo p {
    display: none;
  }
}

.header_menu {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .header_menu {
    display: none;
  }
}

.header_menu_button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  transition: all 0.1s ease;
}

.header_menu_button:hover {
  color: var(--primary);
}

.header_controls {
  display: flex;
  gap: 8px;
}

.header_control_button {
  padding-inline: 10px;
}

.header_control_button i {
  font-size: 15px;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-moon {
  color: #f1c40f;
}

.bi-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
