#header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding: 8px 12px;
  background: var(--background);
  z-index: 100;
}

.header_content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header_logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header_logo p {
  background-image: linear-gradient(135deg, hsl(340 75% 55%), hsl(320 70% 65%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 28px;
}

@media (max-width: 368px) {
  .header_logo p {
    display: none;
  }
}

.header_menu {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .header_menu {
    display: none;
  }
}

.header_menu_button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
  transition: all 0.1s ease;
}

.header_menu_button:hover {
  color: var(--primary);
}

.header_controls {
  display: flex;
  gap: 4px;
}

.header_control_button {
  padding-inline: 10px;
}

.header_control_button i {
  font-size: 15px;
}
