<div class="header_content">
  <div class="header_logo">
    <img src="../../images/logo.png" alt="sakura sushi logo" width="40"
         height="40">
    <p>Sakura Sushi</p>
  </div>
  <div class="header_menu">
    <a href="/" class="header_menu_button">Home</a>
    <a href="/menu" class="header_menu_button">Menu</a>
    <a href="#" class="header_menu_button">About</a>
    <a href="/contact" class="header_menu_button">Contact</a>
  </div>
  <div class="header_controls">
    <button class="header_control_button button_secondary">
      <i class="bi bi-cart"></i>
    </button>
    <button class="header_control_button button_secondary">
      <i class="bi bi-person"></i>
    </button>
    <button class="header_control_button button_primary">
      Order
    </button>
  </div>
</div>
